@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  line-height: 1.25em;
}

@layer base {
  :root {
    /* COLORS */
    --background: 242, 242, 242;
    --primary: 33, 150, 243;
    --secondary: 76, 175, 80;
    --tertiary: 255, 193, 7;
    --quaternary: 229, 57, 53, 1;

    --hover: 27, 74, 240;
    --click: 0, 46, 208;
    --icon: 124, 123, 123;
    --outline: 215, 215, 215;
    --divider: 237, 237, 237;

    --bg-light: 255, 255, 255;
    --bg-dark: 248, 248, 248;
    --bg-disabled: 239, 239, 239;

    --text-primary: 24, 24, 24;
    --text-secondary: 92, 92, 92;
    --text-tertiary: 116, 116, 116;
    --text-disabled: 138, 138, 138;

    /* SCREENS  */
    --screen-mobile: 640px;
    --screen-tablet: 1024px;
    --screen-desktop: 1440px;
    --screen-tv: 1920px;

    /* SHADOWS  */
    --shadow-sm: 0px 0px 10px rgba(132, 132, 132, 15%);
    --shadow-md: 0px 0px 20px rgba(132, 132, 132, 20%);
    --shadow-lg: 0px 0px 30px rgba(132, 132, 132, 25%);
    --shadow-focus: 0px 0px 0px 2px #643296;
    --shadow-outline: 0px 0px 0px 2px #e8e8e8;

    /* BLUE  */
    --blur: 4px;
  }

  .dark-theme {
    --background: 242, 242, 242;
    --primary: 13, 71, 161;
    --secondary: 0, 121, 107;
    --tertiary: 255, 160, 0;
    --quaternary: 183, 28, 28;
  }
}
