@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  line-height: 1.25em;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: "Mulish", sans-serif;
}

@layer base {
  :root {
    /* COLORS */
    --background: 242, 242, 242;
    --primary: 22, 163, 74;
    --secondary: 76, 175, 80;
    --tertiary: 255, 193, 7;
    --quaternary: 229, 57, 53, 1;

    --hover: 21, 128, 61;
    --click: 20, 83, 45;
    --icon: 124, 123, 123;
    --outline: 215, 215, 215;
    --divider: 237, 237, 237;

    --bg-light: 255, 255, 255;
    --bg-dark: 34, 197, 94;
    --bg-disabled: 239, 239, 239;

    --text-primary: 24, 24, 24;
    --text-secondary: 92, 92, 92;
    --text-tertiary: 116, 116, 116;
    --text-disabled: 138, 138, 138;

    /* SCREENS  */
    --screen-mobile: 640px;
    --screen-tablet: 1024px;
    --screen-desktop: 1440px;
    --screen-tv: 1920px;

    /* SHADOWS  */
    --shadow-sm: 0px 0px 10px rgba(132, 132, 132, 15%);
    --shadow-md: 0px 0px 20px rgba(132, 132, 132, 20%);
    --shadow-lg: 0px 0px 30px rgba(132, 132, 132, 25%);
    --shadow-focus: 0px 0px 0px 2px #643296;
    --shadow-outline: 0px 0px 0px 2px #e8e8e8;

    /* BLUR  */
    --blur: 4px;

    /* SPACING  */
    --spacing-none: 0px;
    --spacing-4xs: 8px;
    --spacing-2xs: 12px;
    --spacing-xs: 16px;
    --spacing-sm: 20px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 40px;
    --spacing-2xl: 48px;
    --spacing-4xl: 56px;

    /* BORDER RADIUS  */
    --border-radius-none: 0px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;

    /* FONT SIZE */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-nd: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-4xl: 28px;
  }

  .dark-theme {
    --background: 242, 242, 242;
    --primary: 34, 197, 94;
    --secondary: 0, 121, 107;
    --tertiary: 255, 160, 0;
    --quaternary: 183, 28, 28;
  }
}
